
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="jumbotron">
			<h3>Search index using Agolia API:</h3>
			<br>
			
			<div class="row">
				<div class="col-md-10">
					
					<%= form_tag '/find' do %>

					<div class="form-group">
						<%= text_field_tag 'data', '', class: "form-control", :placeholder => 'What are you looking for?' %>
					</div>

					<%= submit_tag "Find now", class: "btn btn-default pull-right" %>

					<% end %>

				</div> 
			</div>



		</div>
	</div>
</div>

